.outer-background {
  background-color: #e0f0ff;
}

.signup-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
}

.social-button {
  width: 80%;
  max-width: 350px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #666;
  font-size: 14px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}

.form-content {
  width: 80%;
  max-width: 450px;
}

small.text-muted {
  font-size: 0.875rem;
  color: #6c757d;
  margin-top: 0.25rem;
  display: block;
}

.recaptcha-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  max-width: 350px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  padding: 10px 0;
  font-weight: bold;
  max-width: 200px;
}

.container-button {
  display: flex;
  justify-content: center;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.no-underline {
  text-decoration: none;
}

@media (max-width: 768px) {
  .signup-container {
    padding: 20px !important;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.25rem !important;
  }

  .btn-primary {
    font-size: 0.9rem !important;
  }
}