<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="logo text-center">
                <span class="text-dark">VỀ </span><span style="color: #ff685b;">ĐẶC SẢN 3 MIỀN !</span>
            </h1>
            <p class="about-text mt-3 justified-text">
                Eyeconic là thương hiệu mắt kính và phụ kiện dành cho giới trẻ Việt Nam, mang đến sự trẻ trung, năng
                động và hiện đại. Chúng tôi cung cấp các sản phẩm kính mắt, kính cận và phụ kiện thời trang với mục tiêu
                <span style="color: #ff685b;"><strong>tôn vinh phong cách cá nhân</strong></span>. Eyeconic cam kết chất
                lượng vượt trội, đảm bảo sự thoải mái và phù hợp trong mọi hoàn cảnh.
            </p>
            <p class="about-text mt-3 justified-text">
                Mỗi sản phẩm Eyeconic không chỉ là phụ kiện, mà còn là
                <span style="color: #ff685b;"><strong>biểu tượng của phong cách và cá tính</strong></span>. Hãy cùng
                Eyeconic khắc họa phong cách riêng của bạn qua từng chi tiết sản phẩm.
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center mt-4 mt-md-0">
            <img src="assets/veeyeconic.png" alt="Eyeconic Glasses" class="img-fluid larger-image">
        </div>
    </div>
</div>