<div class="container-fluid p-0">
    <app-about></app-about>
    <app-vision-mision></app-vision-mision>
    
    <!-- Certificate Section -->
    <div class="certificate-section my-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <img src="/assets/certificate.png" alt="Giấy chứng nhận" class="certificate-image img-fluid rounded shadow">
                    <p class="certificate-text mt-4 p-4 bg-light text-dark rounded shadow">
                        Cơ sở đã được Sở Y Tế xác nhận đảm bảo an toàn vệ sinh thực phẩm từ năm 2023
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <app-slogan></app-slogan>
    <app-slideshow></app-slideshow>
</div>

<button class="scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
    ↑
</button>