<section class="my-5">
  <div class="d-flex justify-content-center">
    <img src="assets/slogan.png" alt="Tôn vinh tầm nhìn & Khẳng định phong cách" class="slogan-image img-fluid">
  </div>
  <div class="container mt-4 p-5 bg-light text-dark rounded shadow slogan-text-box">
    <p class="text-center mb-0">
      Slogan <strong class="text-primary">"Tôn vinh tầm nhìn, khẳng định phong cách"</strong> của Eyeconic thể
      hiện rõ sứ mệnh và giá trị cốt lõi mà thương hiệu mang lại. "Tôn vinh tầm nhìn" không chỉ nói đến việc cải
      thiện thị lực, mà còn nhấn mạnh vai trò của mắt kính như một phụ kiện nâng tầm trải nghiệm cuộc sống. "Khẳng
      định phong cách" phản ánh sự tự tin và cá tính riêng mà Eyeconic giúp mỗi khách hàng thể hiện, biến mỗi sản
      phẩm không chỉ là vật dụng hữu ích mà còn là tuyên ngôn thời trang đầy mạnh mẽ.
    </p>
  </div>
</section>