<div class="container my-5">
    <div class="row vision-mission mb-5 bg-white p-4 rounded shadow">
        <div class="col-md-6 mb-3 mb-md-0">
            <img src="assets/tamnhin.jpg" alt="Tầm nhìn" class="img-fluid rounded custom-size">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h2 class="text-dark fs-1">TẦM NHÌN</h2>
            <p class="text-muted fs-5 justified-text">
                Eyeconic hướng đến trở thành thương hiệu mắt kính và lens hàng đầu, tiên phong trong việc mang đến giải
                pháp tối ưu cho tầm nhìn và phong cách thời trang, tạo nên dấu ấn cá nhân độc đáo cho mỗi khách hàng
                trên toàn cầu.
            </p>
        </div>
    </div>
    <div class="row vision-mission bg-white p-4 rounded shadow">
        <div class="col-md-6 order-md-2 mb-3 mb-md-0">
            <img src="assets/sumenh.jpg" alt="Sứ mệnh" class="img-fluid rounded custom-size">
        </div>
        <div class="col-md-6 order-md-1 d-flex flex-column justify-content-center">
            <h2 class="text-dark fs-1">SỨ MỆNH</h2>
            <p class="text-muted fs-5 justified-text">
                Eyeconic cam kết cung cấp sản phẩm chất lượng cao, kết hợp giữa sự tinh tế trong thiết kế và công nghệ
                tiên tiến, đảm bảo sự thoải mái, an toàn và thời trang. Chúng tôi không ngừng sáng tạo để mang lại sự tự
                tin và phong cách riêng cho từng cá nhân, đồng thời xây dựng một cộng đồng yêu thích sự khác biệt và độc
                đáo.
            </p>
        </div>
    </div>
</div>