* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 15px auto;
    padding: 20px;
    background-color: #fff;
    text-align: justify;
}

h1 {
    color: #0073e6;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
}

.blue-box {
    background-color: #e0f7ff;
    border: 1px solid #b3e5fc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    text-align: justify;
}

h2 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

h3 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 1.5;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 8px;
    line-height: 1.6;
}

.blue-text {
    color: #0073e6;
}

.red-text {
    color: #e60000;
}

p,
li {
    font-size: 15px;
    line-height: 1.8;
    text-align: justify;
}

ul {
    padding-left: 22px;
}

.section {
    margin-bottom: 10px;
}

.note {
    font-weight: bold;
}