.product-list-header {
  text-align: center;
  margin: 20px 0;
}

.product-list-title {
  color: #820000 !important;
  font-size: 32px;
  margin: 50px;
  font-weight: bold;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.error-message {
  color: red;
  text-align: center;
}

.show-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.show-more-btn {
  background-color: transparent;
  color: #820000;
  padding: 8px 64px;
  border: 2px solid #820000;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all 0.3s;
}

.show-more-btn:hover {
  background-color: #820000;
  color: white;
}