<div class="container about py-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="assets/about.jpg" class="img-fluid rounded" alt="About Us Image" />
        </div>
        <div class="col-md-6">
            <div class="text-content">
                <h2 class="fw-bold mb-4">Về Chúng Tôi</h2>
                <p class="justified-text">
                    <strong>Eyeconic</strong> là thương hiệu
                    <span class="text-blue">mắt kính và lens</span> ra đời với sứ mệnh mang đến cho bạn sự hoàn hảo
                    cả về <span class="text-blue">tầm nhìn lẫn phong cách</span>. Tại Eyeconic, chúng tôi không chỉ
                    cung cấp các sản phẩm chăm sóc mắt chất lượng cao, mà còn tạo nên những trải nghiệm thời trang
                    độc đáo, giúp bạn thể hiện <span class="text-blue">cá tính riêng</span> qua mỗi bộ sưu tập. Với
                    cam kết về chất lượng và sự tinh tế, chúng tôi tin rằng đôi mắt của bạn xứng đáng được chăm sóc
                    và tỏa sáng mỗi ngày.
                </p>
            </div>
        </div>
    </div>
</div>