body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2deba !important;
  color:#820000 !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.snowflake {
  position: absolute;
  top: -50px;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.8;
  animation: fall linear infinite;
  pointer-events: none;
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}

.admin-container {
  min-height: 100vh;
  display: flex;
  background-color: #ffffff;
  overflow-x: hidden;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}