<div class="container-fluid p-0">
  <app-banner appScrollReveal="reveal-fade-up"></app-banner>
  <app-product-list appScrollReveal="reveal-fade-up"></app-product-list>
  <app-banner-2 appScrollReveal="reveal-fade-up"></app-banner-2>
  <app-product-section-2 appScrollReveal="reveal-fade-up"></app-product-section-2>
  <app-banner-3 appScrollReveal="reveal-fade-up"></app-banner-3>
  <app-product-section-3 appScrollReveal="reveal-fade-up"></app-product-section-3>
  <app-about-us appScrollReveal="reveal-fade-up"></app-about-us>
  <app-event appScrollReveal="reveal-fade-up"></app-event>
  <app-product-event appScrollReveal="reveal-fade-up"></app-product-event>
  <app-cta appScrollReveal="reveal-fade-up"></app-cta>
</div>

<button class="scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
  ↑
</button>