.container-fluid {
    padding: 1rem 0;
    max-width: 100%;
    overflow-x: hidden;
}

.footer-section h6 {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
    color: #630000;
}

.contact-cell h4 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #630000;
}

.contact-cell p a {
    color: #630000;
    text-decoration: none;
}

.contact-cell p a:hover {
    color: #630000;
    text-decoration: underline;
}

.feedback-cell h4 {
    color: #630000;
}

.feedback-cell p {
    color: #630000;
}

.btn-primary {
    background-color: #630000;
    border-color: #630000;
    color: white;
}

.btn-primary:hover {
    background-color: #6b0000;
    border-color: #6b0000;
    color: white;
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
    color: #630000;
    margin-bottom: 0;
}

.footer-section ul li {
    font-size: 0.85rem;
    margin-bottom: 3px;
}

.footer-section ul li a {
    color: #630000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #630000;
}

.icon {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 4px;
}

.custom-width-btn {
    width: 100px;
    font-size: 0.85rem;
    padding: 4px 8px;
}

.signup-btn {
    background-color: white;
    color: #630000;
    border: 1px solid #630000;
}

.signup-btn:hover {
    background-color: #630000;
    color: white;
}

.login-btn {
    background-color: #630000;
    color: white;
    border: 1px solid #630000;
}

.login-btn:hover {
    background-color: white;
    color: #630000;
}

.auth-buttons button {
    display: block;
    justify-content: center;
    align-items: center;
}

.feedback-top {
    margin-bottom: 5px;
}

.feedback-row-2 .form-control,
.feedback-row-3 .form-control,
.feedback-row-3 button {
    padding: 6px;
}

.logo-cell img {
    max-width: 100%;
    height: auto;
}

.info-cell,
.support-cell,
.policy-cell,
.contact-cell,
.feedback-cell {
    padding-top: 1rem;
    box-sizing: border-box;
}

.container-fluid td {
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container-fluid td {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .container-fluid .custom-width-btn {
        width: 100%;
    }

    .logo-cell,
    .auth-buttons {
        display: none !important;
    }

    .btn {
        width: 20% !important;
        padding: 8px;
        font-size: 0.875rem;
    }
}

@media (max-width: 576px) {

    .info-cell,
    .support-cell,
    .policy-cell {
        display: none;
    }
}